<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->




  <!-- page name from flask  -->
  <title>Minneapolis Crime Watcher</title>
  <!-- boot strap  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- d3  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
  <!-- jquery  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- leaflet css  -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
  <!-- css  -->
  <link rel="stylesheet" href="./static/css/style.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f56856">
    <a class="navbar-brand" href="#">Minneapolis Crime Watcher</a>
  </nav>

  <br>
  <br>

  <div class ='row'>
    <button id ='button' type="button" class="btn btn-primary ">Load</button>
  </div>

  <div class="row">
    <p class="center" id='guageLabel'>  </p>
  </div>

  <div class= "row" id="severity_gauge">
    <img src="https://i.stack.imgur.com/Z7Qk4.png" alt="Chart Here" class="center">
  </div>

  <div class="row">
    <!--  -->
      <p class="center" id='mapLabel'></p>
  </div>

  <div class = 'center' id='maprow' class="row">
    <!-- The div where we will inject our map -->
      <div class = 'center' id="map"></div>
  </div>

  <div class="row">
    <p class="center" id = 'listLabel'></p>
  </div>

  <div class="row">
    <ul class='center' id='list'>
      <!-- injecting list of lists here -->
    </ul>
  </div>



  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>

  <!-- API key -->
  <script type="text/javascript" src="./static/js/config.js"></script>
  <!-- JS map -->
  <script type="text/javascript" src="./static/js/map.js"></script>
  <!-- JS gauge -->
  <!-- <script type="text/javascript" src="./static/js/gauge.js"></script> -->


 <!-- main javascript file -->
  <script src="./static/js/main.js" type = "text/javascript"></script>

</body>

</html>