body {
    background-color: #1b262c;
    padding: 0;
    margin: 0;
      
}

.btn {
  font-family: 'Bebas Neue';
  letter-spacing: 5px;
  font-size: 2.5rem;
}

.row {
  margin-bottom: 3.5rem;
}

  
body,
html,
.content {
    height: 100%;
    color: #fff;
  }

#map {
  height: 50%;
}

.content {
  padding-left: 40px;
  padding-right: 40px;
}

h1, h2, h3, h4 {
  font-family: 'Bebas Neue';
  letter-spacing: 10px;
  font-size: 2.75rem;
}


.clip {
  position: relative;
  margin-bottom: 60px;
  

  /* animation: fadein 2s;
   -moz-animation: fadein 2s; /* Firefox */
  /* -webkit-animation: fadein 2s; /* Safari and Chrome */
  /* -o-animation: fadein 2s; Opera */
}

.clip img {
  width: 100%;
  display: block; /* fix gap below */;
}

.clip h1 {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background: #3a3a3acc;
  background: rgba(58, 58, 58, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
}

.clip:before,
.clip:after {
  content: "";
  display: block;
  width: 50%;
  height: 15%;
  position: absolute;
  bottom: -1px; /* hack to prevent rounding error bleed */
  background-size: 100% auto;
}

.clip:before {
  left: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Cpath fill='%231b262c' d='m0 0v2h2z' /%3E%3C/svg%3E");
}

.clip:after {
  right: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Cpath fill='%231b262c' d='m1 0v2h-2z' /%3E%3C/svg%3E");
}


#wrapper{
  height:400px;
}

svg {
  width:100%;
}

#meter{
  transform: rotateX(180deg);
  width: 100%;
  height: 400px;
}

circle {
  fill: none;
}

#gauge {
  position: relative;
  margin-bottom: 3.5rem;
}

p {
  font-size: 3rem;
  font-family: 'Bebas Neue';
  letter-spacing: 2px;
}

#listLabel {
  font-size: 2.5rem;
}

#meter_needle {
  width: 69px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transform-origin: bottom center;
  transform: rotate(270deg);
}

table, .dataTables_wrapper {
  background-color: #fff;
}

.dataTables_wrapper {
  padding-top: 10px;
}


#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  opacity: 0.7;
  background-color: #585858;
  z-index: 99;
  text-align: center;
}

.loader {
  border: 30px solid #f3f3f3;
  border-radius: 50%;
  border-top: 30px solid #fb5656;
  border-bottom: 30px solid #fb5656;
  width: 500px;
  height: 500px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  top: 30%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
