body {
    background-color: lightgray;
    padding: 0;
    margin: 0;
      
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  
#map,
body,
html {
    height: 90%;
    width: 90%;
  }
