body {
    background-color: lightgray;
    padding: 0;
    margin: 0;
      
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  
#maprow,
#map,
body,
html {
    height: 90%;
    width: 90%;
  }


#wrapper{
  width: 400px;
  height:400px;
}

#meter{
  width:100%;
  height: 100%;
  transform: rotateX(180deg);
}
.circle {
  fill: none;
}
.outline, #mask {
  stroke: #F1F1F1;
  stroke-width: 32.5;
}

#lbl {
  background-color: #4B4C51;
  border-radius: 2px;
  color: white;
  font-family: 'courier new';
  font-size: 15pt;
  font-weight: bold;
  padding: 4px 4px 2px 4px;
  right: -46px;
  top: 57%;
}
#meter_needle {
  height: 25%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 20%;
  top: 10%;
  transform-origin: bottom center;
  /*orientation fix*/
  transform: rotate(270deg);
}