<!DOCTYPE html>
<html lang="en-us">


<head>
  <meta charset="UTF-8">
  <title>Crime Watcher</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
  <link rel="stylesheet" href="../assets/style.css">



</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f56856">
        <a class="navbar-brand" href="#">Crime Watcher</a>
    </nav>
<br>
<br>
<div class="container">

    <div class="row">
        <label for="API_code">Input API Code</label>
        <input id="API_code" type="text">
    </div>
</div>
<br>
<br>
<div class="row">
    <p class="center">Safety of current area</p>

</div>
<div class= "row" id="severity_gauge">
        
        
        <img src="https://i.stack.imgur.com/Z7Qk4.png" alt="Chart Here" class="center">
</div>
<br>
<br>
<div class="row">
    <p class="center">Safety of current and surrounding areas</p>

</div>


<div class = 'center' id='maprow' class="row">
   <!-- The div where we will inject our map -->
    <div class = 'center' id="map"></div>
</div>


   <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
     integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
     crossorigin=""></script>
   <!-- API key -->
    <script type="text/javascript" src="../assets/config.js"></script>
   <!-- JS -->
    <script type="text/javascript" src="../assets/map.js"></script>
     
</body>

</html>
